.sidenavc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    margin-top: 30px;
}

.sidenavc .inside-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    margin-bottom: 30px;
}

.sidenavc .inside-logo img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.sidenavc a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.2s ease;
}

.sidenavc a:hover {
    color: #ddd;
}
.hamburger{
    color:black;
    font-size: 100px;
    margin-left: 5px;
    margin-bottom:20px;
}
